
<h1><%= @friend.first_name %></h1>
<h1><%= @friend.last_name %></h1>
<h3><%= @friend.age %></h3>
<h3><%= @friend.hair_color %></h3>
<h3><%= @friend.eye_color %></h3>
<h3><%= @friend.gender %></h3>
<h3><%= @friend.alive %></h3>
<%= link_to 'Back', friends_path %>